.auto-list{
  width:200px;
  display: inline-block;
  input{
      width:100%;
      display: block;
      padding: 10px;
      border:1px solid #ccc;
    
  }
  .auto-complete{
      width: 200px;
      height: 200px;
      overflow: hidden;
  
  .auto-complete-list{
      width: 108%;
      margin: 0;
      padding: 0;
      height: 200px;
      overflow: auto;
      border: 1px solid #ccc;
      border-top: 0;
      list-style: none;
      .auto-complete-list-item{
          width:100%;
          height: 50px;
          padding: 10px;
          cursor: pointer;
        
          &:hover{
              background-color: #d8d8d8;
          }
          &.active {
              background-color: #5970a6;
              color: #fff;
              &:hover{
                background-color: #5970a6;
            }
          }

          img{
              width:30px;
              display: inline-block;
              margin-right: 10px;
          }
      }
    }
  }
}